<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="card-subtitle">Classification: {{specie.classification}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Designation: {{specie.designation}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Average height: {{specie.average_height}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Skin colors: {{specie.skin_colors}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Hair colors: {{specie.hair_colors}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Eye colors: {{specie.eye_colors}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Average lifespan: {{specie.average_lifespan}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Language: {{specie.language}}</h6>
  </li>
</ul>
