<app-modal idModal="modal-people" [titleModal]="people?.name">
  <div *ngIf="people" class="p-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-secondary">
        <img src="{{ people.image }}" class="img-fluid img-thumbnail w-100" alt="{{ people.name }}">
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Height: {{people.height}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Mass: {{people.mass}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Hair color: {{people.hair_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Skin color: {{people.skin_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Eye color: {{people.eye_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Birth year: {{people.birth_year}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Gender: {{people.gender}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Homeworld: {{people.homeworld}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Specie:</h5>
        <app-accordion *ngFor="let specie of species; let i = index" [title]="specie.name" [index]="i" idName="specie">
          <app-specie-list [specie]="specie"></app-specie-list>
        </app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Starships:</h5>
        <app-accordion *ngFor="let starship of starships; let i = index" [title]="starship.name" [index]="i" idName="starship">
          <app-starship-list [starship]="starship"></app-starship-list>
        </app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Films:</h5>
        <app-accordion *ngFor="let film of films; let i = index" [title]="film.title" [index]="i" idName="film">
          <app-film-list [film]="film"></app-film-list>
        </app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Vehicles:</h5>
        <app-accordion *ngFor="let vehicle of vehicles; let i = index" [title]="vehicle.name" [index]="i" idName="vehicle">
          <app-vehicle-list [vehicle]="vehicle"></app-vehicle-list>
        </app-accordion>
      </li>
    </ul>
  </div>
</app-modal>
