<app-modal idModal="modal-people" [titleModal]="people?.name">
  <div *ngIf="people" class="p-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-secondary">
        <img src="{{ people.image }}" class="img-fluid img-thumbnail w-100" alt="{{ people.name }}">
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Height: {{people.height}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Mass: {{people.mass}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Hair color: {{people.hair_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Skin color: {{people.skin_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Eye color: {{people.eye_color}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Birth year: {{people.birth_year}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Gender: {{people.gender}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Homeworld: {{people.homeworld}}</h5>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Specie:</h5>
        <app-accordion *ngFor="let specie of species; let i = index" [dataObject]="specie" idName="specie">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Classification: {{specie.classification}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Designation: {{specie.designation}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Average height: {{specie.average_height}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Skin colors: {{specie.skin_colors}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Hair colors: {{specie.hair_colors}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Eye colors: {{specie.eye_colors}}</h5>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Average lifespan: {{specie.average_lifespan}}</h5>
            </li>
            </li>
            <li class="list-group-item">
              <h5 class="card-subtitle m-1">Language: {{specie.language}}</h5>
            </li>
          </ul>
        </app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Starships:</h5>
        <app-accordion [arrData]="starships" idName="starship"></app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Films:</h5>
        <app-accordion [arrData]="films" idName="film"></app-accordion>
      </li>
      <li class="list-group-item">
        <h5 class="card-subtitle m-1">Vehicles:</h5>
        <app-accordion [arrData]="vehicles" idName="vehicle"></app-accordion>
      </li>
    </ul>
  </div>
</app-modal>
