<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="card-subtitle">Model: {{starship.model}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Manufacturer: {{starship.manufacturer}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Cost in credits: {{starship.cost_in_credits}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Length: {{starship.length}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Max atmosphering speed: {{starship.max_atmosphering_speed}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Crew: {{starship.crew}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Passengers: {{starship.passengers}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Cargo capacity: {{starship.cargo_capacity}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Consumables: {{starship.consumables}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Hyperdrive rating: {{starship.hyperdrive_rating}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">MGLT: {{starship.MGLT}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Starship class: {{starship.starship_class}}</h6>
  </li>
</ul>
