<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="card-subtitle">Model: {{vehicle.model}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Manufacturer: {{vehicle.manufacturer}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Cost in credits: {{vehicle.cost_in_credits}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Length: {{vehicle.length}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Max atmosphering speed: {{vehicle.max_atmosphering_speed}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Crew: {{vehicle.crew}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Passengers: {{vehicle.passengers}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Cargo capacity: {{vehicle.cargo_capacity}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Consumables: {{vehicle.consumables}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Vehicle class: {{vehicle.vehicle_class}}</h6>
  </li>
</ul>
