<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="card-subtitle">Episode id: {{film.episode_id}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Opening crawl: {{film.opening_crawl}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Director: {{film.director}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Producer: {{film.producer}}</h6>
  </li>
  <li class="list-group-item">
    <h6 class="card-subtitle">Release_date: {{film.release_date}}</h6>
  </li>
</ul>
