<main role="main" class="container">
  <div class="jumbotron mt-5 bg-light text-center shadow-lg">
    <div class="row justify-content-center">
      <h1 id="main-text col-12">Welcome to the InfoWars</h1>
      <p id="sub-text" class="col-12 col-md-8 mt-3  mx-auto">Here you will see some information about the universe the Star Wars.</p>
      <div class="col-12 d-block mt-3">
        <a id="link-site" routerLink="people" class="btn btn-outline-primary">Go To Site</a>
      </div>
    </div>
  </div>
</main>
